body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}

.form-basic{
  margin: 60px;
}

.firepad {
  width: 100%;
  height: 500px;
}


.row_divider{
  height: 1px;
  background-color: black;
  width: 90%;
}
