[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Actividades[% endblock %]

[% block content %]

 <div ng-controller="HabClassesController as habClassCtrl">

  <h2 class="pull-left">Clases de habilidades colaborativas</h2>

  <a href="hab_classes/new" type="button" class="btn btn-info pull-right">
    Nueva clase
  </a>

  <table st-table="habClasses" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Habilidad</th>       
        <th>Sub-habilidad</th>       
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="habClass in habClasses">
        <td>{{habClass.id}}</td>
        <td>{{habClass.nombre}}</td>        
        <td>{{habClass.subnombre}}</td>        
        <td><button type="button" class="btn btn-info btn-xs" ng-click="view(habClass)">
          <span class="glyphicon glyphicon-zoom-in"></span> Detalles
        </button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="delete($index, habClass)">
          <span class="glyphicon glyphicon-trash"></span> Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>

</div>

[% endblock %]