[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Grupos Colaborativos[% endblock %]

[% block content %]

<div ng-controller="GroupController" id="[[id_group]]">

	<!-- Activity Details -->
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"> <strong>Grupo:</strong> {{group.nombre}}</h3>
			</div>
			<div class="panel-body">
				<div class="row">

					<div class=" col-md-12 col-lg-12 ">
						<table class="table table-user-information">
							<tbody>
								<tr>
									<td>Id Tutor (proximament nombre)</td>
									<td>{{group.id_tutor}}</td>
								</tr>
								<tr>
									<td>Fecha:</td>
									<td>{{group.fecha}}</td>
								</tr>
								<tr>
									<td>N&uacute;mero de integrantes:</td>
									<td>{{group.num_integrantes}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button ng-click="edit()" href="#" data-original-title="Editar grupo" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></button>
				<button ng-click="delete()" type="button" class="btn btn-danger btn-sm pull-right">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>

		</div>
	</div>

	<div class="col-xs-12 col-md-8 col-md-8 col-lg-8">
		<div class="panel panel-info">
			<table st-table="group.users" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Apellido Paterno</th>
						<th>Apellido Materno</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in group.users">
						<td>{{user.id}}</td>
						<td>{{user.nombre}}</td>
						<td>{{user.apellido_paterno}}</td>
						<td>{{user.apellido_materno}}</td>
					</tr>
				</tbody>
			</table>
		</div>


		<pre>{{group | json}}</pre>

	</div>


	[% endblock %]
