[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Analisis[% endblock %]

[% block content %]

<div ng-controller="AnalisisPorAlumnoController" id="[[id_group]]">

  <h2 class="pull-left">Analisis de usabilidad de clases - Grupo [[id_group]]</h2>

  <table st-table="analisis_uso" class="table table-striped">
    <thead>
      <tr>
        <th>Nombre Alumno</th>
        <th>Frecuencia</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="alumno in alumnos">
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.frecuencia}}</td>
      </tr>
    </tbody>
  </table>

  <div style="width: 600px; height: 400px; margin-left: 300px"
    class="text-center"> 
    <nvd3 
    options="chartOptions" 
    data="chartData"></nvd3>
  </div>

  

</div>

[% endblock %]