[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Analisis[% endblock %]

[% block content %]

<div ng-controller="AnalisisUsoController as analisisCtrl" id="[[id_group]]">

  <div class="container-fluid">
    <h2 class="pull-left">Analisis de usabilidad de indicadores colaborativos - Grupo [[id_group]]</h2>
  </div>

  <div class="container-fluid">
    <accordion ng-repeat="alumnoAnalisis in alumnosAgrupados">
      <accordion-group is-open="false">
        <accordion-heading>
          {{alumnoAnalisis[0].alumno_nombre}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        
        <table st-table="analisis_uso" class="table table-striped">
            <thead>
              <tr>
                <th>Alumno</th>
                <th>Clase</th>
                <th>Indicador</th>
                <th>Uso - Frecuencia</th>
                <th>% Usabilidad</th>
                <th>Dominio</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ana_clase in alumnoAnalisis">
                <td></td>
                <td>{{ana_clase.id_clase}} - {{ana_clase.clase_subnombre}}</td>
                <td>{{ana_clase.id_indicador}} - {{ana_clase.indicador_nombre}}</td>
                <td>[{{ana_clase.buso}}, {{ana_clase.ifrecuencia}}]</td>
                <td><div ng-if="ana_clase.ifrecuencia > 0">{{ana_clase.porcentaje_usabilidad}}</div></td>
                <td><div ng-if="ana_clase.ifrecuencia > 0">{{ana_clase.dominio}}</div></td>
                <td>{{ana_clase.porcentaje_dominio}}</td>
              </tr>
            </tbody>
          </table>


      </accordion-group>
    </accordion>
  </div>

  <div class="container-fluid">
    <nvd3 
    options="chartOptions" 
    data="chartData"></nvd3>
  </div>
  </div>

</div>

[% endblock %]