[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Grupos[% endblock %]

[% block content %]

<div ng-controller="AnalisisGroupsController as groupsCtrl">

  <h2 class="pull-left">Grupo Colaborativo</h2>

  <table st-table="groups" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>% Usabilidad Modelo</th>
        <th>Dominio</th>
        <th>Fecha</th>
        <!-- <th>Num. Integrantes</th> csc -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="group in groups">
        <td>{{group.id}}</td>
        <td>{{group.nombre}}</td>
        <td>
            <p ng-if="group.usabilidadModelo != 0">
              {{group.usabilidadModelo}}
            </p>
            <p ng-if="group.usabilidadModelo == 0" class="text-danger">
              <span class="glyphicon glyphicon-alert"></span> {{group.usabilidadModelo}} - Sin Actividad 
            </p>
        </td>
        <td>{{group.dominio}}</td>
        <td>{{group.fecha}}</td>
        <!-- <td>{{activity.num_integrantes}}</td>  -->
        <td>
          <button type="button" class="btn btn-info btn-xs" ng-click="view(group)">
            <span class="glyphicon glyphicon-zoom-in"></span> Detalles
          </button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="delete(group)">
            <span class="glyphicon glyphicon-trash"></span> Eliminar
          </button>
        </td>
    </tr>
    </tbody>
  </table>

</div>

[% endblock %]