[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Actividades[% endblock %]

[% block content %]

<form class="form-horizontal form-basic" ng-controller="EditActivityController as editCtrl"
id="[[id_activity]]" ng-submit="update(activity)">

<!-- Section Name / <fieldset><legend>Gestor de Actividad Colaborativa</legend>-->
 <div class="panel panel-info">
      <div class="panel-heading">
      <h3 class="panel-title"> <strong>Generales</strong></h3>
      </div>
      <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="activity.nombre" required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Descripción</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="activity.descripcion" required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Estrategia</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="activity.estrategia_instruccional" required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Tipo</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="activity.tipo" required />
            </div>
            <label class="col-sm-2 control-label" for="textinput">Duración (minutos)</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="activity.duracion_minima" required />
            </div>
          </div>
        </div>
  </div>


  <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"> <strong>Elementos de conocimiento (Para analisis de secuencias HHM)</strong></h3>
      </div>
      <div class="form-group">            
        <label class="col-sm-3 control-label" for="textinput">Numero de elementos</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="activity.NumKElements" required />
        </div>
        <label class="col-sm-3 control-label" for="textinput">Etiqueta Elemento1</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="activity.K_Element1" required />
        </div>
      </div>      

      <div class="form-group">            
        <label class="col-sm-3 control-label" for="textinput">Etiqueta Elemento2</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="activity.K_Element2"  />
        </div>
        <label class="col-sm-2 control-label" for="textinput">Etiqueta Elemento3</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="activity.K_Element3"  />
        </div>
      </div>      
  </div>


  <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"> <strong>Taxonomia de habilidades (Asociacion al modelo)</strong></h3>
      </div>
      
      <div class="form-group">
        <label class="col-sm-2 control-label" for="model-selection">Taxonomia de habilidades</label>
        <select id="model-selection" ng-init="<default>" ng-model="selectedModel" ng-options="model.nombre for model in models"></select>
      
        <button type="button" class="btn btn-info btn-xs" ng-click="view(model)">
          <span class="glyphicon glyphicon-zoom-in"></span> Ver
        </button>
      </div>  

  </div>


  <!-- csc Contiene los detalles de la taxonomia en formato table   
  <div class="col-lg-12 col-sm-1">
    <table st-table="models" class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="abClass in selectedModel.classes">
          <td>{{abClass.nombre}} - {{abClass.subnombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>  </fieldset>  -->

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="pull-right">
      <button ng-click="cancel()" type="button" class="btn btn-default">Cancelar</button>
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
  </div>
</div>

<!-- <pre>form_payload = {{activity | json}}</pre> csc -->

</form>

[% endblock %]
