[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Actividades[% endblock %]

[% block content %]


<form class="form-horizontal form-basic" ng-controller="EditActivityController as editCtrl"
id="[[id_activity]]" ng-submit="update(activity)">

<!-- Section Name -->
<legend>Actividad</legend>

<fieldset>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="activity.nombre" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Descripción</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="activity.descripcion" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Estrategia instruccional</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="activity.estrategia_instruccional" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Tipo</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="activity.tipo" required />
    </div>

    <label class="col-sm-2 control-label" for="textinput">Duración mínima</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="activity.duracion_minima" required />
    </div>
  </div>

</fieldset>

<!-- Section Name -->
<legend>Modelo - Indicadores</legend>

<div class="form-group">
  <label class="col-sm-2 control-label" for="model-selection">Modelos</label>
  <select id="model-selection" ng-model="selectedModel" ng-options="model.nombre for model in models"></select><br>
</div>

<fieldset ng-disabled="true">

 <!-- Indicator subform -->
 <div class="form-group">
  <label class="col-sm-1 control-label" for="textinput">Indicador</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[0].nombre" ng-disabled="true"/>
  </div>

  <label class="col-sm-1 control-label" for="textinput">Frecuencia Individual</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[0].frecuencia_individual"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Frecuencia Grupal</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[0].frecuencia_grupo"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Tolerancia</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[0].tolerancia"/>
  </div>
</div>

<!-- Indicator subform -->
<div class="form-group">
  <label class="col-sm-1 control-label" for="textinput">Indicador</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[1].nombre" ng-disabled="true"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Frecuencia Individual</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[1].frecuencia_individual"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Frecuencia Grupal</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[1].frecuencia_grupo"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Tolerancia</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[1].tolerancia"/>
  </div>
</div>

<!-- Indicator subform -->
<div class="form-group">
  <label class="col-sm-1 control-label" for="textinput">Indicador</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[2].nombre" ng-disabled="true"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Frecuencia Individual</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[2].frecuencia_individual"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Frecuencia Grupal</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[2].frecuencia_grupo"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Tolerancia</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[2].tolerancia"/>
  </div>
</div>

<!-- Indicator subform -->
<div class="form-group">
  <label class="col-sm-1 control-label" for="textinput">Indicador</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[3].nombre" ng-disabled="true"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Frecuencia Individual</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[3].frecuencia_individual"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Frecuencia Grupal</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[3].frecuencia_grupo"/>
  </div>
  <label class="col-sm-1 control-label" for="textinput">Tolerancia</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="selectedModel.indicators[3].tolerancia"/>
  </div>
</div>

</fieldset>

<legend></legend>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="pull-right">
      <button ng-click="cancel()" type="button" class="btn btn-default">Cancelar</button>
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
  </div>
</div>

<pre>form_payload = {{activity | json}}</pre>

</form>

[% endblock %]
