[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Actividades[% endblock %]

[% block content %]

<div ng-controller="ActivitiesController as activitiesCtrl">

  <h2 class="pull-left">Actividades</h2>

  <a href="activities/new" type="button" class="btn btn-info pull-right">
    Nueva Actividad
  </a>

  <table st-table="activities" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Id Tutor</th>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Estrategia Instruccional</th>
        <th>Duración Mínima</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="activity in activities">
        <td>{{activity.id}}</td>
        <td>{{activity.nombre}}</td>
        <td>{{activity.id_tutor}}</td>
        <td>{{activity.fecha}}</td>
        <td>{{activity.tipo}}</td>
        <td>{{activity.estrategia_instruccional}}</td>
        <td>{{activity.duracion_minima}}</td>
        <td><button type="button" class="btn btn-info btn-xs" ng-click="view(activity)">
          <span class="glyphicon glyphicon-zoom-in"></span> Detalles
        </button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="delete($index, activity)">
          <span class="glyphicon glyphicon-trash"></span> Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>

</div>

[% endblock %]