<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entorno Virtual Colaborativo - Actividades</title>
  <link href="/cve/public/lib/bootstrap-css/css/bootstrap.css" rel="stylesheet">
  <link href="/cve/public/css/app.css" rel="stylesheet">
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">Entorno Virtual Colaborativo</a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse navbar-ex1-collapse">
       <ul class="nav navbar-nav">

       </ul>
     </div>
     <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
 </nav>
 <div class="content">

  <form class="form-horizontal form-basic" ng-controller="AddActivityController as activityCtrl"
  ng-submit="activityCtrl.add(activity)">

  <!-- Section Name -->
  <legend>Actividad</legend>

  <fieldset>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="activity.nombre" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Descripción</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="activity.descripcion" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Estrategia instruccional</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="activity.estrategia_instruccional" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Tipo</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" ng-model="activity.tipo" required />
      </div>

      <label class="col-sm-2 control-label" for="textinput">Duración mínima</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" ng-model="activity.duracion_minima" required />
      </div>
    </div>

  </fieldset>

  <!-- Section Name -->
  <legend>Modelo - Indicadores</legend>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="chbox_default_model">¿Modelo por defecto?</label>
    <input id="chbox_default_model" type="checkbox" ng-model="useDefaultModel" />
  </div>

  <fieldset ng-disabled="useDefaultModel">

     <!-- Indicator subform -->
     <div class="form-group">
      <label class="col-sm-1 control-label" for="textinput">Nombre</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].name" ng-disabled="true"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Frecuencia Individual</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].frecuencia_individual"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Frecuencia Grupal</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].frecuencia_grupo"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Tolerancia</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].tolerancia"/>
      </div>
    </div>

     <!-- Indicator subform -->
     <div class="form-group">
      <label class="col-sm-1 control-label" for="textinput">Nombre</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].name" ng-disabled="true"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Frecuencia Individual</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].frecuencia_individual"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Frecuencia Grupal</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].frecuencia_grupo"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Tolerancia</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].tolerancia"/>
      </div>
    </div>

     <!-- Indicator subform -->
     <div class="form-group">
      <label class="col-sm-1 control-label" for="textinput">Nombre</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].name" ng-disabled="true"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Frecuencia Individual</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].frecuencia_individual"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Frecuencia Grupal</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].frecuencia_grupo"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Tolerancia</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].tolerancia"/>
      </div>
    </div>

     <!-- Indicator subform -->
     <div class="form-group">
      <label class="col-sm-1 control-label" for="textinput">Nombre</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].name" ng-disabled="true"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Frecuencia Individual</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].frecuencia_individual"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Frecuencia Grupal</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].frecuencia_grupo"/>
      </div>
      <label class="col-sm-1 control-label" for="textinput">Tolerancia</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="model.indicators[0].tolerancia"/>
      </div>
    </div>

  </fieldset>

  <legend></legend>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="pull-right">
        <button type="button" class="btn btn-default">Cancelar</button>
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </div>
  </div>

</form>

</div>

<script src="/cve/public/lib/jquery/dist/jquery.js"></script>
<script src="/cve/public/lib/angular/angular.js"></script>
<script src="/cve/public/js/app.js"></script>
<script src="/cve/public/lib/angular-smart-table/dist/smart-table.debug.js"></script>
<script src="/cve/public/lib/angular-resource/angular-resource.js"></script>
<script src="/cve/public/js/controllers/activities.js"></script>
<script src="/cve/public/js/factories/activities.js"></script>

</body>
</html>