<!-- Agregar cualquier dependencia JS en este archivo! -->
<script src="/cve/public/lib/jquery/dist/jquery.js"></script>
<script src="/cve/public/lib/angular/angular.js"></script>
<script src="/cve/public/js/app.js"></script>
<script src="/cve/public/lib/angular-smart-table/dist/smart-table.debug.js"></script>
<script src="/cve/public/lib/angular-resource/angular-resource.js"></script>
<script src="/cve/public/lib/angular-file-upload/angular-file-upload.js"></script>
<script src="/cve/public/js/controllers/activities.js"></script>
<script src="/cve/public/js/factories/activities.js"></script>
<script src="/cve/public/js/controllers/models.js"></script>
<script src="/cve/public/js/factories/models.js"></script>
<script src="/cve/public/js/controllers/groups.js"></script>
<script src="/cve/public/js/factories/groups.js"></script>
<script src="/cve/public/js/controllers/users.js"></script>
<script src="/cve/public/js/factories/users.js"></script>
<script src="/cve/public/js/factories/models.js"></script>
<script src="/cve/public/js/controllers/chat.js"></script>
<script src="/cve/public/lib/firebase/firebase.js"></script>
<script src="/cve/public/lib/codemirror/lib/codemirror.js"></script>
<script src="/cve/public/lib/codemirror/mode/javascript/javascript.js"></script>
<script src="/cve/public/lib/firepad/dist/firepad.min.js"></script>
