<!-- Agregar cualquier dependencia JS en este archivo! -->
<script src="/cve/public/lib/jquery/dist/jquery.js"></script>
<script src="/cve/public/lib/angular/angular.js"></script>
<script src="/cve/public/js/app.js"></script>
<script src="/cve/public/lib/angular-smart-table/dist/smart-table.debug.js"></script>
<script src="/cve/public/lib/angular-resource/angular-resource.js"></script>
<script src="/cve/public/lib/angular-file-upload/angular-file-upload.js"></script>
<script src="/cve/public/js/controllers/activities.js"></script>
<script src="/cve/public/js/factories/activities.js"></script>
<script src="/cve/public/js/controllers/models.js"></script>
<script src="/cve/public/js/factories/models.js"></script>