[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Actividades[% endblock %]

[% block content %]

<form class="form-horizontal form-basic" ng-controller="EditModelController" id="[[id_model]]"
ng-submit="update()">

  <!-- Section Name -->
  <legend>Modelo de interacción</legend>

  <div class="form-group">
    <label class="col-sm-1 control-label" for="textinput">Nombre</label>
    <div class="col-sm-11">
      <input type="text" class="form-control" ng-model="model.nombre" required />
    </div>
  </div>

  <!-- Section Name -->
  <legend>Clases de habilidades</legend>

  <table st-table="class" class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="abClass in classes">
      <td>{{abClass.nombre}}</td>
      <td><input type="checkbox"
                 ng-change="onClassChecked( abClass )" ng-model="abClass.selected"></td>
    </tr>
    </tbody>
  </table>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="pull-right">
      <button ng-click="cancel()" type="button" class="btn btn-default">Cancelar</button>
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
  </div>
</div>

<!-- <pre>form_payload = {{model | json}}</pre> csc -->

</form>

[% endblock %]
