[% extends 'layout.html' %]

[% block page_title %] Entorno Virtual Colaborativo - Actividades[% endblock %]

[% block content %]

<form class="form-horizontal form-basic" ng-controller="ModelController as modelCtrl" id="[[id_model]]">

  <fieldset ng-disabled="false">

    <!-- Section Name -->
    <legend>Taxonomia de habilidades</legend>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="textinput">Taxonomia</label>
      <div class="col-sm-11">
        <input type="text" class="form-control" ng-model="model.nombre" required />
      </div>
    </div>

    <legend>Clases</legend>

    <a href="../hab_classes/new" type="button" class="btn btn-info pull-right">
      Nueva clase
    </a>

    <table st-table="habClasses" class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Habilidad</th>
          <th>Sub-habilidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="habClass in model.classes">
          <td>{{habClass.id}}</td>
          <td>{{habClass.nombre}}</td>
          <td>{{habClass.subnombre}}</td>
          <td><button type="button" class="btn btn-info btn-xs" ng-click="viewClass(habClass)">
            <span class="glyphicon glyphicon-zoom-in"></span> Detalles
          </button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="deleteClass($index, habClass)">
            <span class="glyphicon glyphicon-trash"></span> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</fieldset>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="pull-right">
      <button type="button" class="btn btn-default" ng-click="back()">Regresar</button>
      <!-- <button type="button" class="btn btn-primary" ng-click="edit()">Editar</button> -->
    </div>
  </div>
</div>

<!-- <pre>form_payload = {{model | json}}</pre> csc -->

</form>

[% endblock %]